.container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.container h5{
    text-align: center;
    margin-bottom: 5%;
    font-size: 44px;
   
}
.subcontianer{
    display: flex;
    flex-direction: row;

}
.accordion{
    width: 100%;
    padding: 0 5px;
    border-top: 1px solid #666;
    cursor: pointer;
    display: flex;
    margin: 10px 0;
    align-items: center;

}
.left{
    margin-right: 3%;
}
.right{
    margin-left: 3%;
}
.accordion .icon{
    margin: 5px 10px 0 0;
    width: 5%;
    height: 30px;
    background: url(/css/images/icons8-plus-+-64.png) no-repeat -16px -18px rgb(141, 82, 82);
    border-radius: 50%;
    float: left;
    transition: all .5s ease-in;
}
.accordion h6{
    font-size: 22px;
    margin: 0;
    padding: 3px 0 0 0;
    font-weight: normal;
    color: #1f5c9a;
}
.panel{
    padding: 0 15px;
    border-left: 1px solid #6db5ff;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .5s ease-in;
}
.active .icon{
    background: url(/css/images/icons8-minus-64.png) no-repeat -18px -18px #fff;
}
.active{
    background: linear-gradient(to right, #435972, #293238);
    color: #fff;
}
.active h6{
color: #fff;
}
.accordion{
    margin-bottom: 3%;
}