@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap'); 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body{
  min-height: 100vh;
  background: #fcfbfb;
}
/*Header*/

.topnavbar{
  background: #293238;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
label.logo{
  font-size: 28px;
  line-height: 60px;
  padding: 0 100px;
  font-weight: bold;
}
.topnavbar ul{
  float: right;
  margin-right: 20px;
}
.topnavbar ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
 
}
.topnavbar ul li a{
  color: #f2f3f9;
  font-size: 17px;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 600;
}
.topnavbar ul li a:hover{
  color: rgb(201, 201, 201);
}
.bottomnavbar{
  height: 85px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}
.bottomnavbar ul{
  float: right;
  align-items: center;
              display: flex;
              justify-content: center;
              margin-right: 4%;
}
.bottomnavbar ul li{
  display: inline-block;
  line-height: 60px;
  margin: 0 5px;
}
.bottomnavbar ul li a{
  font-size: 17px;
  padding-right: 20px;
}
.bottomnavbar input[type=text]{
  width: 80%;
  padding: 15px 16px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
  background: #f2f3f9;
}
.bottomnavbar button[type=submit]{
  width: 20%;
  background:#83b4d0;
    border: none;
    color: #ffffff;
  padding: 2px 1px;
  margin: 15px 7px;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  margin-left: -20.5%;
}
.bottomnavbar button[type=submit]:hover{
  background: rgb(190, 114, 114);
  transition: 0.6s;
}
.form{
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-top: 10px;
  justify-content: center;
}
.bottomnavbar li a{
  padding-top: 20px; 
  color: black; 
  text-decoration: none;
  font-weight: 800;
}
.bottomnavbar li a:hover{
  color: #f17849;
  transition: 0.4s;
}
.bottomnavbar label a{
  text-decoration: none;
    color: black;
    background: -webkit-linear-gradient(#e12121, #fab131);
    -webkit-background-clip: text;
    font-size: 38px;
    -webkit-text-fill-color: transparent;
}

/* Body */

/*Footer */
footer{
  position: relative;
  width: 100%;
  height: auto;
  bottom: 0;
  padding: 70px 300px 30px 300px;
  background: #293238;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2%;
}
footer .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .container .section{
  margin-right: 30px;
}
footer .container .section.aboutus{
width: 30%;

}
footer .container .section.aboutus h2{
  position: relative;
  font-weight: 300;
  margin-bottom: 15px;
  color: #f2f3f9;;
  }
    footer  p{
color: #999;
    }
.sci{
  margin-top: 20px;
  display: flex;
}
.sci li {
  list-style: none;
}
.sci li a{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 5px;
}
.sci li a:hover{
  background: rgb(190, 114, 114);
}
.sci li a{
  color: #fff;
  font-size: 20px;
}
.Navigation{
  position: relative;
  color: #f2f3f9;
}
.Navigation h2{
  margin-bottom: 15px;
  font-weight: 300;
  
}
.Navigation ul li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}
.Navigation ul li a:before{
  content: "\25BA \0020";
  font-size: 6px;
  position: absolute;
  top: 5px;
  left: -10px;
}
.Navigation ul li a{
  color:  #fab131;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.Navigation ul li a:hover{
  color: #fff;
}
footer .container h2{
  font-size: 32px;
  color: #f2f3f9;
  font-weight: 300;
}
footer .container p{
  font-size: 20px;
}
.Contact{
  width: 30%;
}
.Contact form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contact 
input[type=text]{
  width: 100%;
  padding: 15px 22px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-sizing: border-box;
}
.Contact input[type=submit]{
  width: 50%;
  background: linear-gradient(
-45deg, #fab131 0%, #f17849);
    border: none;
    color: #ffffff;
    transition: 0.33s all linear;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;

}
.Contact input[type=submit]:hover{
  background: rgb(190, 114, 114);
}
.Contact h2{
  padding-bottom: 8px;
}
.Contact p{
  padding-bottom: 10px;
}
@media only screen and (max-width: 1100px) {
  .bottomnavbar .form{
    width: 0;
  }
  .bottomnavbar .form input{
    display: none;
  }
  .bottomnavbar .form button{
    display: none;
  }
}
@media only screen and (max-width:700px) {
  .bottomnavbar .logo{
    padding: 0 0 0 20px;
  }
}
@media only screen and (max-width:515px) {
  .bottomnavbar  {
    flex-direction: column;
    height: 120px;
  }
  .bottomnavbar .logo{
    padding: 0;
  }
  .bottomnavbar ul{
    margin-right: 0;
  }
  .bottomnavbar ul li a{
    padding-top: 0;
  }
}
@media only screen and (max-width: 1250px) {
  footer{
    padding: 40px;
  }
}
@media only screen and (max-width: 720px) {
  footer .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  footer{
    padding:20px 0;
  }
  footer .container .section{
    width: 70%;
    margin-bottom: 3%;
  }
  footer .container .section.aboutus{
    width: 70%;
  }
  footer .aboutus{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .aboutus .sci{
    justify-content: center;
  }
  footer .Navigation{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer .Navigation ul li a::before{
    content: none;
  }
  footer .Navigation ul li{
    padding: 0;
  }
  footer .Contact {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

}
@media only screen and (max-width: 450px) {
  .topnavbar{
    justify-content: flex-start;
  }
  .topnavbar ul{
    margin: 0;
  }
  .topnavbar ul li a{
    padding: 0 4px;
  }
}