<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stylee.css" />
    <link rel="stylesheet" href="/css/adminpanel.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>Admin Panel</title>
  </head>

  <body>
    <header>
      <div class="navbar">
        <div class="topnavbar">
          <ul>
            <li>
              <a href="#">#Spor</a>
              <a href="#">#Tiyatro</a>
              <a href="#">#Müzik</a>
              <a href="/html/categories.html">#Diger</a>
            </li>
          </ul>
        </div>
        <div class="bottomnavbar">
          <label
            style="display: flex; align-items: center; justify-content: center"
            class="logo"
          >
            <a
              style="text-decoration: none; color: black"
              href="/html/index.html"
              >ATILAY</a
            >
          </label>
          <div class="form">
            <input type="text" id="Search" name="Search" placeholder="Search" />
            <button type="submit">Ara</button>
          </div>
          <ul>
            <li>
              <a href="/html/index.html">Anasayfa</a>
              <a href="#">Etkinlikler</a>
              <a href="#">
                <i
                  style="margin-right: 5px"
                  class="far fa-user"
                  aria-hidden="true"
                ></i>
                Giris Yap
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section>
      <div class="tab">
        <button
          class="tablinks"
          onclick="openCity(event, 'addEvent')"
          id="defaultOpen"
        >
          Etkinlik Ekle
        </button>
        <button class="tablinks" onclick="openCity(event, 'changeEvent')">
          Etkinlik Değiştir
        </button>
        <button class="tablinks" onclick="openCity(event, 'deleteEvent')">
          Etkinlik Sil
        </button>
      </div>
      <div id="addEvent" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="eventspart">
          <h3 style="font-size: 24px; margin: 10px; color: white">
            Etkinlikler
          </h3>
          <form action="/adminPanel/event" method="POST">
            <div class="event-text">
              <div class="event-top">
                <label for="EventNo">EventNo</label>
                <textarea
                  id="EventNo"
                  name="EventNo"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventName">EventName</label>
                <textarea
                  id="EventName"
                  name="EventName"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventDate">EventDate</label>
                <textarea
                  id="EventDate"
                  name="EventDate"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for=",EventPlace">EventPlace</label>
                <textarea
                  id="EventPlace"
                  name="EventPlace"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPrice">EventPrice</label>
                <textarea
                  id="EventPrice"
                  name="EventPrice"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPhotoBackground">Background</label>
                <textarea
                  id="EventPhotoBackground"
                  name="EventPhotoBackground"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPhotoUrl">EventPhotoUrl</label>
                <textarea
                  id="EventPhotoUrl"
                  name="EventPhotoUrl"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="PerformerName">PerformerName</label>
                <textarea
                  id="PerformerName"
                  name="PerformerName"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCategory">EventCategory</label>
                <textarea
                  id="EventCategory"
                  name="EventCategory"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCapacity">EventCapacity</label>
                <textarea
                  id="EventCapacity"
                  name="EventCapacity"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventAddress">EventAddress</label>
                <textarea
                  id="EventAddress"
                  name="EventAddress"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCity">EventCity</label>
                <textarea
                  id="EventCity"
                  name="EventCity"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
            </div>
            <div class="buttonpart">
              <a><button class="button" type="submit">Etkinlik Ekle</button></a>
            </div>
          </form>
          <div class="showpart">
            <table style="width: 100%">
              <tr>
                <th>Fonksiyon:Etkinlik Çıkar</th>
                <th>Ekinlik No</th>
              </tr>
              <% if(Events.length >0){%> <%Events.forEach(events => { %>
              <tr>
                <td><%=events.EventName%></td>
              </tr>
              <% }) %> <% } %>
            </table>
          </div>
        </div>
      </div>

      <div id="changeEvent" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="eventspart">
          <h3 style="font-size: 24px; margin: 10px; color: white">
            Etkinlikler
          </h3>
          <form action="/adminPanel/event" method="POST">
            <div class="event-text">
              <div class="event-top">
                <label for="EventNo">EventNo</label>
                <textarea
                  id="EventNo"
                  name="EventNo"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventName">EventName</label>
                <textarea
                  id="EventName"
                  name="EventName"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventDate">EventDate</label>
                <textarea
                  id="EventDate"
                  name="EventDate"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for=",EventPlace">EventPlace</label>
                <textarea
                  id="EventPlace"
                  name="EventPlace"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPrice">EventPrice</label>
                <textarea
                  id="EventPrice"
                  name="EventPrice"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPhotoBackground">Background</label>
                <textarea
                  id="EventPhotoBackground"
                  name="EventPhotoBackground"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPhotoUrl">EventPhotoUrl</label>
                <textarea
                  id="EventPhotoUrl"
                  name="EventPhotoUrl"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="PerformerName">PerformerName</label>
                <textarea
                  id="PerformerName"
                  name="PerformerName"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCategory">EventCategory</label>
                <textarea
                  id="EventCategory"
                  name="EventCategory"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCapacity">EventCapacity</label>
                <textarea
                  id="EventCapacity"
                  name="EventCapacity"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventAddress">EventAddress</label>
                <textarea
                  id="EventAddress"
                  name="EventAddress"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCity">EventCity</label>
                <textarea
                  id="EventCity"
                  name="EventCity"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
            </div>
            <div class="buttonpart">
              <a
                ><button class="button" type="submit">
                  Etkinlik Güncelle
                </button></a
              >
            </div>
          </form>
          <div class="showpart">
            <table style="width: 100%">
              <tr>
                <th>Fonksiyon:Etkinlik Çıkar</th>
                <th>Ekinlik No</th>
              </tr>
              <% if(Events.length >0){%> <%Events.forEach(events => { %>
              <tr>
                <td><%=events.EventName%></td>
              </tr>
              <% }) %> <% } %>
            </table>
          </div>
        </div>
      </div>

      <div id="deleteEvent" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="eventspart">
          <h3 style="font-size: 24px; margin: 10px; color: white">
            Etkinlikler
          </h3>
          <form action="/adminPanel/event" method="POST">
            <div class="event-text">
              <div class="event-top">
                <label for="EventNo">EventNo</label>
                <textarea
                  id="EventNo"
                  name="EventNo"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventName">EventName</label>
                <textarea
                  id="EventName"
                  name="EventName"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventDate">EventDate</label>
                <textarea
                  id="EventDate"
                  name="EventDate"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for=",EventPlace">EventPlace</label>
                <textarea
                  id="EventPlace"
                  name="EventPlace"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPrice">EventPrice</label>
                <textarea
                  id="EventPrice"
                  name="EventPrice"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPhotoBackground">Background</label>
                <textarea
                  id="EventPhotoBackground"
                  name="EventPhotoBackground"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventPhotoUrl">EventPhotoUrl</label>
                <textarea
                  id="EventPhotoUrl"
                  name="EventPhotoUrl"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="PerformerName">PerformerName</label>
                <textarea
                  id="PerformerName"
                  name="PerformerName"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCategory">EventCategory</label>
                <textarea
                  id="EventCategory"
                  name="EventCategory"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCapacity">EventCapacity</label>
                <textarea
                  id="EventCapacity"
                  name="EventCapacity"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventAddress">EventAddress</label>
                <textarea
                  id="EventAddress"
                  name="EventAddress"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
              <div class="event-top">
                <label for="EventCity">EventCity</label>
                <textarea
                  id="EventCity"
                  name="EventCity"
                  rows="4"
                  cols="15"
                ></textarea>
              </div>
            </div>
            <div class="buttonpart">
              <a><button class="button" type="submit">Etkinlik Sil</button></a>
            </div>
          </form>
          <div class="showpart">
            <table style="width: 100%">
              <tr>
                <th>Fonksiyon:Etkinlik Çıkar</th>
                <th>Ekinlik No</th>
              </tr>
              <% if(Events.length >0){%> <%Events.forEach(events => { %>
              <tr>
                <td><%=events.EventName%></td>
              </tr>
              <% }) %> <% } %>
            </table>
          </div>
        </div>
      </div>

      <div id="RBA" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="showpart">
          <table style="width: 100%">
            <tr>
              <th>Fonksiyon:Rol Belirle</th>

              <th>Kullanıcı Adı</th>
              <th>Kullanıcı Rolü</th>
            </tr>
            <% if(Users.length >0){%> <%Users.forEach(user => { %>
            <tr>
              <td>
                <a href="/setAdmin/<%=user.email%>"
                  ><button class="button" type="submit">Admin Yap</button></a
                >
                <a href="/setOwner/<%=user.email%>"
                  ><button class="button" type="submit">Owner Yap</button></a
                >
                <a href="/setUser/<%=user.email%>"
                  ><button class="button" type="submit">Üye Yap</button></a
                >
              </td>

              <td>
                <a href="/userdelete/<%=user.email%>"> </a>
              </td>
              <td><%=user.email%></td>
              <td><%=user.role%></td>
            </tr>
            <% }) %> <% } %>

            <tr></tr>
          </table>
        </div>
      </div>

      <div id="deleteuser" class="tabcontent">
        <span onclick="this.parentElement.style.display='none'" class="topright"
          >&times</span
        >
        <div class="showpart">
          <table style="width: 100%">
            <tr>
              <th>Fonksyion:Kullanıcı Sil</th>
              <th>Kullanıcı Adı</th>
              <th>Kullanıcı Rolü</th>
            </tr>
            <% if(Users.length >0){%> <%Users.forEach(user => { %>
            <tr>
              <td>
                <a href="/userdelete/<%=user.email%>">
                  <button class="button" type="submit">Kullanıcıyı Sil</button>
                </a>
              </td>
              <td><%=user.email%></td>
              <td><%=user.role%></td>
            </tr>
            <% }) %> <% } %>

            <tr></tr>
          </table>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="section aboutus">
          <h2>Biz Kimiz</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            animi ea dolorum minima? Maiores corporis quisquam, perferendis
            pariatur sit laudantium?
          </p>
          <ul class="sci">
            <li>
              <a href="#"
                ><i class="fab fa-facebook-f" aria-hidden="true"></i
              ></a>
            </li>
            <li>
              <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fab fa-instagram" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
          <p style="font-size: 14px; padding-top: 20px">
            2021 Atılay.Bütün hakları Gizlidir
          </p>
        </div>
        <div class="section Navigation">
          <h2>Navigasyon</h2>
          <ul>
            <li><a href="#">Hakkımızda</a></li>
            <li><a href="#">Sıkça Sorulanlar</a></li>
            <li><a href="/html/security.html">Gizlilik Politikası</a></li>
            <li><a href="#">Bize Ulaşın</a></li>
          </ul>
        </div>
        <div class="section Contact">
          <h2>Haberdar olun</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            ducimus.
          </p>
          <form action="">
            <input
              type="text"
              id="Email"
              name="Email"
              placeholder="Email Giriniz"
            />
            <input type="submit" value="Gönder" />
          </form>
        </div>
      </div>
    </footer>
    <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }

      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>
  </body>
</html>
