<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/stylee.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>Profilim</title>
  </head>

  <body>
    <header>
      <div class="navbar">
          <div class="topnavbar">
              <ul>
                  <li>
                      <a href="/Home/sport">Spor</a>
                      <a href="/Home/theatre">Tiyatro</a>
                      <a href="/Home/theatre">Müzik</a>
                      <a href="/Home/categories">Tüm kategoriler</a>
                  </li>
              </ul>
          </div>
          <div class="bottomnavbar">
              <label style="display: flex; align-items: center; justify-content: center" class="logo"><a
                      style="text-decoration: none; color: black" href="/Home/index">COBADO</a>
              </label>
              <div class="form">
                <form method="POST" action="bar" style="display: flex;flex-direction: row;width: 80%;margin-top: 10px;justify-content: center;">
                <input type="text" id="EventName" name="EventName" placeholder="Search" />
                <button type="submit">Ara</button>
                </form>
            </div>
              <ul>
                  <li>
                      <a href="/Home/index">Anasayfa</a>
                      <a href="/Home/all_event">Etkinlikler</a>
                      @{
                    if (Context.Request.Cookies["name"] != null)
                {<a href="/Home/profile">Profil</a>
                    <a href="/Home/logout"><i style="margin-right: 5px" class="far fa-user" aria-hidden="true"></i> Çıkış Yap</a>
                }
                else
                    {
                <a href="/Home/login"><i style="margin-right: 5px" class="far fa-user" aria-hidden="true"></i>Giris Yap</a>
                    }
                }
                  </li>
              </ul>
          </div>
      </div>
  </header>
    <section id="midpage">
      <div class="profilecontainer">
        <div class="profilepart">
          <div class="profileimage">
            <img
              src="https://img.icons8.com/ios/200/000000/gender-neutral-user.png"
            />
          </div>
          <div class="information">
            <div class="boxp">
              <h3>İsim</h3>
              <h4></h4>
            </div>
            <div class="boxp">
              <h3>Email</h3>
              <h4></h4>
            </div>
            <div class="boxp">
              <h3>Role</h3>
              <h4></h4>
            </div>
          </div>
        </div>

        <div class="ticketpart">
          <h3>Biletlerim</h3>
          <div class="scroll">
            <div class="boughtickets">
              <div class="ticketimg">
                <img src="./images/Snoll.png" alt="" />
              </div>
              <div class="ticketinfo">
                <h4>Etkinlik Adı:</h4>
                <h4>Bilet No:</h4>
                <a href=""
                  ><button type="button" class="rez-but">
                    Bileti İptal Et
                  </button></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="section aboutus">
          <h2>Biz Kimiz</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
            animi ea dolorum minima? Maiores corporis quisquam, perferendis
            pariatur sit laudantium?
          </p>
          <ul class="sci">
            <li>
                <a href="https://www.google.com/"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://www.google.com/"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="https://www.google.com/"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </li>
        </ul>
        <p style="font-size: 14px; padding-top: 20px">
            2021 COBADO.Bütün hakları Gizlidir
        </p>
    </div>
    <div class="section Navigation">
        <h2>Navigasyon</h2>
        <ul>
            <li><a href="/Home/about_us">Hakkımızda</a></li>
            <li><a href="/Home/FAQ">Sıkça Sorulanlar</a></li>
            <li><a href="/Home/security">Gizlilik Politikası</a></li>
            <li><a href="/Home/contact_us">Bize Ulaşın</a></li>
        </ul>
        </div>
        <div class="section Contact">
          <h2>Haberdar olun</h2>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit,
            ducimus.
          </p>
          <form action="">
            <input
              type="text"
              id="Email"
              name="Email"
              placeholder="Email Giriniz"
            />
            <input type="submit" value="Gönder" />
          </form>
        </div>
      </div>
    </footer>
  </body>
</html>
