@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

#container-part {
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    padding-top: 25px;
    height: 65vh;
    justify-content: center;
    align-items: center;
    background-color: #ebeae8;
}
.choose{
    display: flex;
    flex-direction: row;
}
.video-part {
    display: flex;
    flex-direction: column;
    padding-right: 25px;
}

.info-part {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
}

.info-part .title {
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

.place-calendar {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.place {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.calendar {
    display: flex;
    flex-direction: row;
}

.bilet-secme {
    width: 10%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
}
.kategori-secme {
    width: 15%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-left: 4%;
}

div[class*=box] {
    height: 33.33%;
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    background-color: #fab131;
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
    margin: 1%;
}

.box-2 {
    background-color: #3C3C3C;
}

.box-3 {
    background-color: #66A182;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-one {
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}

.btn-one span {
    transition: all 0.4s;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    transform: scale(0.1, 1);
}

.btn-one:hover span {
    letter-spacing: 2px;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}